#theDiv1 {
  background-color: #42454b;
  border: 2px solid #27262b;
  font-family: monospace;
  text-align: center;
  padding: 5px;
  margin: -8px;
  margin-bottom: 0px;
}

#theDiv2 {
  background-color: #42454b;
  border: 2px solid #27262b;
  font-family: monospace;
  text-align: center;
  padding: 5px;
  margin: -8px;
  margin-top: 0px;
  margin-bottom: 0px;
}
